/*
=========================================
TURNVEREIN-2.CSS
=========================================
-----------------------------------------
TVF Wordpress styling, no Grid, Flexbox
-----------------------------------------
*/

/*
---------
Reset CSS
---------

http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
--------------------------------------
font usage (embeded via functions.php)
--------------------------------------

font-family: 'Abel', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

*/

/*
-------------------
Styling starts here
-------------------
*/

/*--General--*/

html,
body {
	color: #555;
	background: #eee;
	font-family: 'PT Serif', serif;
	font-size: 15px;
}

a {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
}

.flex-container {
  display: flex;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}
/*
---------------
Desktop Styling
---------------
*/

/*--Navigation--*/

#smallscreen-head {
  display: none;
}

#sidetoggler {
  display: none;
}

#navi {
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

#navi ul {
  display: flex;
  justify-content: space-around;
}

#navi a {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #eee;
  background-color: #666;
  box-sizing: border-box;
}

#navi .current-menu-item a, #navi a:hover {
  color: #666;
  background-color: #eee;
}

/*--Title--*/

#content-wrapper {
  margin-top: 35px;
}

#titelbild {
  height: 200px;
  background-size: cover;
  background-position: center top;

  display: flex;
}

#titelbild .logo {

  color: white;
  font-size: 700%;
  font-family: 'Yanone Kaffeesatz', sans-serif;

	opacity: 0.75; /*opacity is determined by var opacityDefault in turnverein.js*/

  margin: auto auto;

	display: block;
	width: 400px;
	text-align: center;
}

#titel-schriftzug {
  display: flex;
  background-color: #333;

  margin-bottom: 20px;
}

#titel-schriftzug h1 {
  display: block;
  color: #eee;

  font-size: 21px;
  text-transform: uppercase;
  padding: 7px;
  margin: auto auto;
}

/*--Page Main--*/

.table-of-contents, .widget-area {
  flex: 1;
}

.page-content {
  flex: 3;
  background-color: #eee;

  display: flex;
  flex-direction: column;
}

.page-content :last-child{
  margin-bottom: 0px;
}

.box {
  padding: 20px;
}

/*->Table of Contents*/

.table-of-contents {
  display: flex;
  flex-direction: column;
}

.table-of-contents a {
  display: block;

  -ms-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;

  text-transform: uppercase;
  font-family: 'Abel', sans-serif;

  margin-bottom: 10px;

}

.localnav::before {
  content: '// ';
}
/*->Content*/

.page-content h1 {
  font-weight: bold;
  font-size: 180%;

  margin-bottom: 20px;
}

.page-content h2 {
  font-weight: normal;
  font-size: 140%;

  margin-bottom: 10px;

	clear: both;
}

.page-content h3 {
  font-weight: normal;
  font-size: 100%;
  font-style: italic;

  margin-bottom: 10px;
}

.page-content p {
  font-size: 100%;
  line-height: 1.5;

  margin-bottom: 10px;
}

.content-part {
  flex: 1;
  margin-bottom: 40px;
}

.page-content a {
  color: #111;
}
/*->Blog*/

.blogpost {
  display: flex;
}

.blogpost-image {
  flex: 1;
  background-size: cover;
  background-position: center center;
  margin-right: 15px;
}

.blogpost-text {
  flex: 2;
}

/*->Subpages*/

.subpage {
  display: flex;
  flex-direction: column;
}

.subpage-image {
  flex: 1;
  background-size: cover;
  background-position: center top;
  order: 2;
  min-height: 100px;

	margin-top: 15px;
}

.subpage-text {
  flex: 2;
  order: 1;
}

.subpagecontent p {
	overflow: auto;
}

.subpagecontent .alignleft {
	float: left;
}

.subpagecontent .size-vollbild {
	width: 100%;
	height: auto;
}

/*->Subpage-Calendar (Simple Calendar Plugin)*/

.subpage .simcal-day {
  margin-bottom: 15px;
}

.subpage .simcal-event-details {
  display: flex;
  align-items: baseline;
}

.calendar-date {
  flex: 1;
}

.calendar-info {
  flex: 2;
}

.subpage .simcal-event-start-date {

}

.subpage .simcal-event-title {
  font-weight: bold;
  font-size: 120%;
}
/*->Widgets*/


.widget-area h1 {
  font-weight: bold;
  font-size: 120%;

  margin-bottom: 20px;
}

.widget-area h2 {
  font-weight: normal;
  font-size: 100%;

  margin-bottom: 10px;

	clear: both;
}

.widget-area h3 {
  font-weight: normal;
  font-size: 80%;
  font-style: italic;

  margin-bottom: 10px;
}

.widget-area {
	font-family: 'Helvetica Neue', sans-serif;
}

/*Widget-Calendar (Simple Calendar Plugin)*/

.widget-area .simcal-event-title {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.widget-area .simcal-event-start-date {
	font-size: 90%;
	display: block;
	margin-bottom: 5px;
}

.widget-area .simcal-event-start-location {
	font-size: 90%;
	margin-bottom: 5px;
}

.widget-area .simcal-event-start-time {
	font-size: 90%;
	margin-bottom: 5px;
}


/*--Bottomline--*/

#page-bottom {
	display: flex;
	flex-direction: column;

	background-color: #333;
	margin-top: 50px;
	padding-top: 20px;
}

.contact-area {
	display: flex;

	font-family: 'Helvetica Neue', sans-serif;
	font-size: 90%;
}

.widget-unten {
	flex: 1;

	margin: 10px;
	background-color: #666;
	color: #eee;

	padding: 15px;
}

.widget-unten a {
	color: #ddd;
}

.widget-unten h1 {
	font-weight: bold;
	margin-bottom: 5px;
}


/*
--------------
Mobile Styling
--------------
*/

@media ( max-width: 900px ) {

	/*--Table of contents--*/

	.table-of-contents {
		display: none;
	}

}

@media ( max-width: 800px ) {

	/*--Navigation--*/

	#smallscreen-head {
		display: block;
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 11;
		padding: 5px;

		background-color: rgba(0, 0, 0, 0);
	}

	#smallscreen-head label {
		font-size: 300%;
		padding: 10px 20px;
		border-radius: 5px;
		margin-left: 10px;

		background-color: #eee;

		border-color: #333;
		border-style: solid;
		border-width: medium;
	}

	#content-wrapper {
	  margin-top: 0px;
	}

	#navi {

	}

	#navi ul {
		margin-top: 80px;
		flex-direction: column;
		width: 70%;
	}

	#navi a {
		margin-top: 20px;
		font-size: 180%;
	}

	.menu-hauptmenue-container {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;

		background-color: rgba(0, 0, 0, 0);

		-ms-transform: translateX( -100% );
		-webkit-transform: translateX( -100% );
		-o-transform: translateX( -100% );
		transform: translateX( -100% );

		-ms-transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	#sidetoggler:checked + .menu-hauptmenue-container {
		-ms-transform: translateX( 0px );
		-webkit-transform: translateX( 0px );
		-o-transform: translateX( 0px );
		transform: translateX( 0px );

		background-color: rgba(0, 0, 0, 0.7);
	}

	/*--Widgets rechts--*/

	.widget-area {
		display: none;
	}

}

/*--Widgets unten--*/

@media ( max-width: 640px ) {

	.contact-area {
		flex-direction: column;
	}

}
